/* google fonts links */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Montserrat:wght@400;700&family=Open+Sans:ital@1&family=Poppins:wght@200;500&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{
    --primary-color:#1d4ed8;
}


body{
    font-family: 'Montserrat', sans-serif;
}
