/* google fonts links */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Montserrat:wght@400;700&family=Open+Sans:ital@1&family=Poppins:wght@200;500&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{
    --primary-color:#1d4ed8;
    --off-white:#F3F4F6;
    --dark-gray:#687280;
}


body{
    font-family: 'Montserrat', sans-serif;
}

.off-white{
 background-color: var(--off-white);
}


/* container */
.container{

}
.container-center{
max-width: 600px;
margin: auto;


}

/* links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;

}
 
/* list css */
.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}


/* navigation */

.navigation{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;


}


.navigation .nav-brand{
    font-weight: bold;
    font-size:1.5rem;;
}

.navigation .link{
    color: white;
    font-size: 1.1rem;
}



.navigation .nav-pills{
    text-align:right;
}


.navigation .link-active{
    font-weight: bold;
}

/* header */


.header{
    padding: 2rem;
}
.header .hero-img{
    max-width: 300px;
    display: block;
    margin: auto;
}
.header .header-heading{
color: var(--dark-gray);
text-align: center;
margin: 1rem 0;
}

.header .heading-inverted{
    color:var(--primary-color);
}


/* section */
.section{ 
    text-align: center;
    padding: 1rem;

}


.branch-container{
  max-width:400px;
  padding:1rem;
  display: inline-block;

}

.branch-container .link{
   display: block;
   color: var(--primary-color);
}

/* footer */

.footer{
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    padding: 1rem 0;
    border-bottom-right-radius: 1rem;

}

.footer .link{
    color: white;

}

.footer ul{
    margin-top: 1rem;
}
 